<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="assets/css/pdf.css">
</head>
<html>
  <%- include('components/head', {title: "Rapports"}) %>
  <body>
    <div class="table-responsive d-none" id="body-float">
        <div class="card" id="print-content">
          <div class="card-header text-center">
            <h4 class="card-title">Rapports de Kilométrage</h4>
           <div class="d-flex justify-content-between flex-wrap">
            <div class="col-6">
              <label class="form-check-label">
                  <span class="form-check-sign" id="start-text">Date du debut</span>
                  <span class="form-check-sign" id="end-text">Date de fin</span>
              </label>
           </div>
          <div class="col-6">
              <label class="form-check-label">
                  <span class="form-check-sign" id="date-actuelle"></span>
              </label>
           </div>
           </div>
      </div>
          <div class="card-body">
            <table class="table table-bordered">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Nom</th>
                      <th>Date du début</th>
                      <th>Date de fin</th>
                      <th>Kilométrage</th>
                  </tr>
              </thead>
              <tbody id="float">
              </tbody>
          </table>
         
          </div>
        </div>
        <div class="conatainer py-3">
          <p class="d-flex justify-content-center ">
              <button class="btn btn-primary" onclick="toPdf()">
                  <i class="icon-big la la-file-pdf-o"></i> 
                  Génerer le pdf
              </button>
          </p>
      </div>
      </div>
  </body>
</html>
